<div ng-app="fourmilkapp" ng-controller="mainCtrl as c">
    <h4>{{c.config.message}}</h4>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col col-xs-12 col-sm-12 col-md-12 col-xl-12 stats-col">
                <div class="card sameheight-item stats" data-exclude="xs">
                    <div class="card-block">
                        <div class="title-block">
                            <h4>
                                <div class="stat-icon">
                                    <span class="fa fa-question-circle"></span>
                                </div>
                                4MILK HELPER
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col col-xs-12 col-sm-12 col-md-12 col-xl-12 stats-col">
                <div class="card sameheight-item stats" data-exclude="xs">
                    <div class="card-block">
                        <div class="title-block">
                            <h4>
                                Estatísticas
                                <div class="pull-right stat-icon">
                                    <span class="fa fa-dashboard"></span>
                                </div><br />
                                <small>
                                    Sistema <a href="http://www.4milk.com.br">
                                        4Milk App
                                    </a>
                                </small>

                                <hr />
                            </h4>
                        </div>
                        <div class="row row-sm stats-container">
                            <div class="col-xs-12 col-sm-6 stat-col">
                                <div class="stat-icon"> <i class="fa fa-users"></i> </div>
                                <div class="stat">
                                    <div class="value"> 5407 </div>
                                    <div class="name"> Usuários Cadastrados</div>
                                </div> <progress class="progress stat-progress" value="75" max="100">
                                    <div class="progress">
                                        <span class="progress-bar" style="width: 75%;"></span>
                                    </div>
                                </progress>
                            </div>
                            <div class="col-xs-12 col-sm-6 stat-col">
                                <div class="stat-icon"> <i class="fa fa-download"></i> </div>
                                <div class="stat">
                                    <div class="value"> 78464 </div>
                                    <div class="name"> Total Downloads</div>
                                </div> <progress class="progress stat-progress" value="25" max="100">
                                    <div class="progress">
                                        <span class="progress-bar" style="width: 25%;"></span>
                                    </div>
                                </progress>
                            </div>
                            <div class="col-xs-12 col-sm-6 stat-col">
                                <div class="stat-icon"> <i class="fa fa-paw"></i> </div>
                                <div class="stat">
                                    <div class="value"> 1.000.000 </div>
                                    <div class="name"> Animais Cadastrados </div>
                                </div> <progress class="progress stat-progress" value="60" max="100">
                                    <div class="progress">
                                        <span class="progress-bar" style="width: 60%;"></span>
                                    </div>
                                </progress>
                            </div>
                            <div class="col-xs-12 col-sm-6  stat-col">
                                <div class="stat-icon"> <i class="fa fa-coffee"></i> </div>
                                <div class="stat">
                                    <div class="value"> 955.000.000 </div>
                                    <div class="name"> Total de litros de leite</div>
                                </div> <progress class="progress stat-progress" value="34" max="100">
                                    <div class="progress">
                                        <span class="progress-bar" style="width: 34%;"></span>
                                    </div>
                                </progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
